<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489274455055-0r7tt7v4rgnht89uv8g8jrlc0hrjlf3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489274455055-0r7tt7v4rgnht89uv8g8jrlc0hrjlf3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBqlNanxINDb7kMEczUVpIGo9akO-IYAOU</string>
	<key>GCM_SENDER_ID</key>
	<string>489274455055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.quupe</string>
	<key>PROJECT_ID</key>
	<string>quupe-85a06</string>
	<key>STORAGE_BUCKET</key>
	<string>quupe-85a06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489274455055:ios:1c53519f19e8b420</string>
	<key>DATABASE_URL</key>
	<string>https://quupe-85a06.firebaseio.com</string>
</dict>
</plist>